<ion-content class="ion-padding">
  <div class="main">
    <ion-card class="card ion-no-margin">
      <ion-card-content>
        <!-- Logo Row -->
        <ion-row class="row">
          <div class="logo">
            <img src="assets/img/logo512_main.png" class="img-logo">
            <ion-text color='primary'>
              <h2 class="ion-no-margin ion-margin-vertical ion-text-center"> {{'LOGIN.PASSWORD_RESET.REQUEST_TITLE' | translate}}</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col col-sm-9 col-md-6 col-lg-4 class="ion-no-padding">
            <form [formGroup]="form" (ngSubmit)="onSubmitResetPassword()" *ngIf="!isDone">
              <!-- list of email/password and forget password -->
              <ion-list>
                <!-- email field -->
                <ion-item no-lines class="ion-no-margin ion-no-padding">
                  <ion-label class="inputLabel" position="floating">
                    <ion-icon name="mail"></ion-icon>
                    {{'GLOBAL.EMAIL' | translate | titlecase}}
                  </ion-label>
                  <ion-input class="login-input" type="email" formControlName="email" [disabled]="isLoading"></ion-input>
                </ion-item>
                <!-- email errors -->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.email">
                    <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && form.get('email').touched">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>
              </ion-list>
              <!-- reset password button -->
              <div class="ion-padding-top">
                <ion-button  expand="block" shape="round" type="submit" [disabled]="form.invalid || isLoading || isDone" class="reset-button ion-margin-top">
                  <div *ngIf="!isLoading">&nbsp; {{'LOGIN.PASSWORD_RESET.REQUEST_NOW' | translate }}
                  </div>
                  <div *ngIf="isLoading">
                    <fa-icon [icon]="['fas','spinner']" spin="true"></fa-icon>
                  </div>
                </ion-button>
              </div>
            </form>

            <!-- after succsessful request password reset -->
            <div *ngIf="isDone" class="done-message">
                <ion-row>
                  <ion-col size="auto" class="doneIconCol">
                    <fa-icon [icon]="['fas','check-circle']" ></fa-icon>
                  </ion-col>
                  <ion-col innerHtml="{{'LOGIN.PASSWORD_RESET.REQUESTED' | translate}}"></ion-col>
                </ion-row>
              </div>
          </ion-col>
        </ion-row>
        <!-- sign UP button row -->
        <ion-row class="sign-up-alternative">
          <div class="question"> {{'LOGIN.NO_ACCOUNT' | translate }} </div>
          <ion-button class="sign-up-button ion-no-margin" fill="clear" [routerDirection]="'root'" routerLink="/signup">{{'REGISTER.SIGN_UP_NOW' | translate }} </ion-button>
        </ion-row>
        <!-- Login in button -->
        <ion-row class="sign-up-alternative">
          <div class="question">Already have account?</div>
          <ion-button class="sign-up-button ion-no-margin" fill="clear" [routerDirection]="'root'" routerLink="/login">{{'LOGIN.SIGN_IN' | translate }} </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>