
ion-content{
    --background: var(--biopeo-background-color);
  }
  ion-list{
    background:var(--biopeo-background-color);
    padding-bottom: 100px;
    }
    .empty-state{
      width: 100%;
      height: 100%;
      padding-top: 35%;
      color: #8e8e8e;
      padding: 44px 33px;
      text-align: center;
      max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      .empty-message{
        padding: 10px 0px;
      }
    }