// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  // --ion-color-primary: #3880ff;
  // --ion-color-primary-rgb: 56, 128, 255;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;

  // --ion-color-primary: #cc0000;
  // --ion-color-primary-rgb: 204,0,0;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255,255,255;
  // --ion-color-primary-shade: #b40000;
  // --ion-color-primary-tint: #d11a1a;

  // pink
  --ion-color-primary: #D50B53;
  --ion-color-primary-rgb: 213,11,83;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #bb0a49;
  --ion-color-primary-tint: #d92364;

  --biopeo-background-color:#F4F3F4;
  // --biopeo-background-color:#6B7A8F;// pink with blueperry background

  // --ion-color-primary: #e60e64;
  // --ion-color-primary-rgb: 230,14,100;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255,255,255;
  // --ion-color-primary-shade: #ca0c58;
  // --ion-color-primary-tint: #e92674;

  // blue berry - design 3 ,, need to make cards full width
  // --ion-color-primary: #2A416F;
  // --ion-color-primary-rgb: 42,65,111;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255,255,255;
  // --ion-color-primary-shade: #253962;
  // --ion-color-primary-tint: #3f547d;

  // --biopeo-background-color:#7598C8;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  // --ion-color-light: #f4f5f8;
  // --ion-color-light-rgb: 244, 244, 244;
  // --ion-color-light-contrast: #000000;
  // --ion-color-light-contrast-rgb: 0, 0, 0;
  // --ion-color-light-shade: #d7d8da;
  // --ion-color-light-tint: #f5f6f9;
  --ion-color-light: #f1f1f1;
  --ion-color-light-rgb: 241,241,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4d4d4;
  --ion-color-light-tint: #f2f2f2;

  /** bsecondary **/
  // --ion-color-bsecondary: #f1f1f1;
  // --ion-color-bsecondary-rgb: 241,241,241;
  // --ion-color-bsecondary-contrast: #000000;
  // --ion-color-bsecondary-contrast-rgb: 0,0,0;
  // --ion-color-bsecondary-shade: #d4d4d4;
  // --ion-color-bsecondary-tint: #f2f2f2;

  // --biopeo-bsecondary-color:#f1f1f1;


  --ion-padding:8px;
  // --ion-text-color: #cc0000;

  // --biopeo-background-color:#bcbcbc;
  // --biopeo-background-color:#6B7A8F; // bluperry
  //

}
