<ion-content class="ion-padding">
  <div class="main">
    <ion-card class="card ion-no-margin">
      <ion-card-content>
        <!-- Logo Row -->
        <ion-row class="row">
          <div class="logo">
            <img src="assets/img/logo512_main.png" class="img-logo">
            <ion-text color='primary'>
              <h2 class="ion-no-margin ion-margin-vertical ion-text-center"> {{'LOGIN.PASSWORD_RESET.REQUEST_TITLE' | translate}}</h2>
            </ion-text>
          </div>
        </ion-row>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col col-sm-9 col-md-6 col-lg-4 class="ion-no-padding">
            <form [formGroup]="form" (ngSubmit)="onSubmitResetPassword()">
              <ion-list>
                <ion-item no-lines class="ion-no-margin ion-no-padding">
                  <ion-label class="inputLabel" position="floating">
                    <ion-icon name="lock"></ion-icon>
                    {{'LOGIN.PASSWORD_RESET.NEW_PASSWORD' | translate}}
                  </ion-label>
                  <ion-input class="reset-input" type="password" formControlName="password" [disabled]="isLoading"></ion-input>
                </ion-item>
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validation_messages.password">
                    <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
                      <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message | translate }}
                    </div>
                  </ng-container>
                </div>

              </ion-list>
              <!-- reset password button -->
              <div class="ion-padding-top">
                <ion-button expand="block" shape="round" type="submit" [disabled]="form.invalid || isLoading" class="reset-button ion-margin-top">
                  <div *ngIf="!isLoading">&nbsp; {{'LOGIN.PASSWORD_RESET.REQUEST_NOW' | translate }}
                  </div>
                  <div *ngIf="isLoading">
                    <fa-icon [icon]="['fas','spinner']" spin="true"></fa-icon>
                  </div>
                </ion-button>
              </div>
            </form>
          </ion-col>
        </ion-row>
        <!-- sign UP button row -->
        <ion-row class="sign-up-alternative">
          <div class="question"> {{'LOGIN.NO_ACCOUNT' | translate }} </div>
          <ion-button class="sign-up-button ion-no-margin" fill="clear" [routerDirection]="'root'" routerLink="/signup">{{'REGISTER.SIGN_UP_NOW' | translate }} </ion-button>
        </ion-row>
        <!-- Login in button -->
        <ion-row class="sign-up-alternative">
          <div class="question">Already have account?</div>
          <ion-button class="sign-up-button ion-no-margin" fill="clear" [routerDirection]="'root'" routerLink="/login">{{'LOGIN.SIGN_IN' | translate }} </ion-button>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>